---
import { Image } from 'astro:assets';
const { cta_url } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mastering Fate: Unleashing Your Future with Tarot by Dante Serafino explores the hidden world of Tarot, offering deep insights into the art of divination and the unseen forces shaping our lives.">
    <meta name="keywords" content="Mastering Fate, Dante Serafino, Tarot, divination, future, personal growth, mystical arts, self-discovery, spiritual insights">
    <meta property="og:title" content="Mastering Fate by Dante Serafino">
    <meta property="og:description" content="Discover Mastering Fate by Dante Serafino, a profound exploration of Tarot that reveals how ancient symbols and archetypes influence our lives and future decisions.">
    <meta property="og:image" content="/cover-mastering-fate.jpeg">
    <meta property="og:url" content={cta_url}>
    <meta property="og:type" content="book">
    <title>Mastering Fate by Dante Serafino</title>
    <link rel="canonical" href={cta_url}>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main class="mx-auto max-w-7xl px-4 mb-8 mt-12 sm:mt-12 sm:mb-12 sm:px-6 md:mt-32 md:mb-20 xl:mt-23 xl:mb-24">
      <div class="lg:grid lg:grid-cols-12 lg:gap-8">
        <div class="mb-12 md:max-w-1xl md:mx-auto lg:col-span-8">
          <h1
            class="mt-1 text-5xl tracking-tight leading-16 font-extrabold sm:leading-none sm:text-6xl lg:text-5xl xl:text-6xl uppercase"
          >
            Mastering Fate<br class="hidden md:inline" /><span class="underline">by Dante Serafino</span>
          </h1>

          <p class="mt-3 text-muted dark:text-slate-400 ml-2 rtl:ml-0 rtl:mr-2">
            "Mastering Fate: Unleashing Your Future with Tarot" delves into the secret world of Tarot, offering a detailed
            exploration of the ancient art of divination through the eyes of the forbidden Italian author, Dante Serafino.
          </p>

          <p class="mt-3 text-muted dark:text-slate-400 ml-2 rtl:ml-0 rtl:mr-2">
            Serafino's work takes readers on a journey through the hidden corners of the human psyche, where the symbols and
            archetypes of the Tarot reveal the unseen forces at play in our lives. The book is not merely a guide but a
            powerful tool.
          </p>

          <p class="mt-3 text-muted dark:text-slate-400 ml-2 rtl:ml-0 rtl:mr-2">
            Dante does not just teach you how to read the cards — he leads you into a world where the boundary between the
            known and the unknown is blurred, where every decision matters, and where the future is shaped by our choices.
          </p>

          <p class="mt-3 text-muted dark:text-slate-400 ml-2 rtl:ml-0 rtl:mr-2">
            <b>WARNING: This Book Will Be Removed Soon. Hurry and Get It Now.</b>
          </p>

          <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
            <div>
              <a
                href={cta_url}
                target="_blank"
                class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 rounded-md font-semibold text-white bg-book-theme hover:bg-book-hover focus:outline-none transition duration-300 ease-in-out md:py-4 md:text-lg md:px-10"
              >
                Get It Now
              </a>
            </div>
          </div>
        </div>

        <div
          class="mt-12 relative sm:max-w-lg sm:mx-auto lg:mt-0 lg:max-w-none lg:mx-0 lg:col-span-4 lg:flex lg:items-center"
        >
          <a class="book-container" href={cta_url}>
            <div class="book">
              <Image
                src="/cover-mastering-fate.jpeg"
                width={300}
                height={600}
                alt="Mastering Fate by Dante Serafino Book Cover"
                format="avif"
                loading="eager"
              />
            </div>
          </a>
        </div>
      </div>
    </main>
  </body>
</html>