@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .bg-page {
    background-color: var(--aw-color-bg-page);
  }
  .bg-dark {
    background-color: var(--aw-color-bg-page-dark);
  }
  .bg-light {
    background-color: var(--aw-color-bg-page);
  }
  .text-page {
    color: var(--aw-color-text-page);
  }
  .text-muted {
    color: var(--aw-color-text-muted);
  }
}

@layer components {
  .btn {
    @apply inline-flex items-center justify-center rounded-full border-gray-400 border bg-transparent font-medium text-center text-base text-page leading-snug transition py-3.5 px-6 md:px-8 ease-in duration-200 focus:ring-blue-500 focus:ring-offset-blue-200 focus:ring-2 focus:ring-offset-2 hover:bg-gray-100 hover:border-gray-600  cursor-pointer;
  }

  .btn-primary {
    @apply btn font-semibold bg-primary hover:bg-primary_hover text-white border-primary  hover:text-white;
  }

  .btn-secondary {
    @apply btn;
  }

  .btn-tertiary {
    @apply btn border-none shadow-none text-muted hover:text-gray-900 dark:text-gray-400 dark:hover:text-white;
  }
}

#header.scroll > div:first-child {
  @apply bg-page md:bg-white/90 md:backdrop-blur-md;
  box-shadow: 0 0.375rem 1.5rem 0 rgb(140 152 164 / 13%);
}
.dark #header.scroll > div:first-child,
#header.scroll.dark > div:first-child {
  @apply bg-page md:bg-[#030621e6] border-b border-gray-500/20;
  box-shadow: none;
}
/* #header.scroll > div:last-child {
  @apply py-3;
} */

#header.expanded nav {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 70px !important;
  padding: 0 5px;
}

.dropdown:focus .dropdown-menu,
.dropdown:focus-within .dropdown-menu,
.dropdown:hover .dropdown-menu {
  display: block;
}

[astro-icon].icon-light > * {
  stroke-width: 1.2;
}

[astro-icon].icon-bold > * {
  stroke-width: 2.4;
}

[data-aw-toggle-menu] path {
  @apply transition;
}
[data-aw-toggle-menu].expanded g > path:first-child {
  @apply -rotate-45 translate-y-[15px] translate-x-[-3px];
}

[data-aw-toggle-menu].expanded g > path:last-child {
  @apply rotate-45 translate-y-[-8px] translate-x-[14px];
}

/* To deprecated */

.dd *:first-child {
  margin-top: 0;
}

/* Define Variables (Converted to hardcoded values) */
:root {
  --book-theme-color: #f59e0b;
  --primary-bg-color: #01060f;
  --selection-color: #9d4edd;
  --selection-text-color: white;
  --book-width: 300px;
  --book-height: 480px;
  --book-depth: 25px;
}

/* Global Styles */
::selection {
  background: var(--selection-color);
  color: var(--selection-text-color);
}

/* Animation for Love Icon */
.love {
  display: inline-block;
  position: relative;
  top: 0.1em;
  transform: scale(0.9);
  animation: love 0.5s infinite linear alternate-reverse;
}

@keyframes love {
  to {
    transform: scale(1.1);
  }
}

/* Book Container Styles */
.book-container {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 600px;
  margin: 0 auto;
}

/* Book Initialization Animation */
@keyframes initAnimation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-30deg);
  }
}

/* Book Styles */
.book {
  width: var(--book-width);
  height: var(--book-height);
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(-30deg);
  transition: 1s ease;
  animation: 1s ease 0s 1 initAnimation;
}

.book:hover {
  transform: rotateY(0deg);
}

.book > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--book-width);
  height: var(--book-height);
  transform: translateZ(var(--book-depth));
  border-radius: 0 2px 2px 0;
  box-shadow: 5px 5px 20px #666;
}

.book::before {
  position: absolute;
  content: ' ';
  left: 0;
  top: 3px;
  width: 48px;
  height: calc(var(--book-height) - 4px);
  transform: translateX(272px) rotateY(90deg);
  background: linear-gradient(
    90deg,
    #fff 0%,
    #f9f9f9 5%,
    #fff 10%,
    #f9f9f9 15%,
    #fff 20%,
    #f9f9f9 25%,
    #fff 30%,
    #f9f9f9 35%,
    #fff 40%,
    #f9f9f9 45%,
    #fff 50%,
    #f9f9f9 55%,
    #fff 60%,
    #f9f9f9 65%,
    #fff 70%,
    #f9f9f9 75%,
    #fff 80%,
    #f9f9f9 85%,
    #fff 90%,
    #f9f9f9 95%,
    #fff 100%
  );
}

.book::after {
  position: absolute;
  top: 0;
  left: 0;
  content: ' ';
  width: var(--book-width);
  height: var(--book-height);
  transform: translateZ(calc(-1 * var(--book-depth)));
  border-radius: 0 2px 2px 0;
  box-shadow: -10px 0 50px 10px #666;
}

/* Ribbon Style */
.ribbon {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: 30px;
  margin-right: -40px;
  margin-top: 20px;
  padding-top: 5px;
  transform: rotate(45deg);
}

/* Underline Style */
.underline {
  background: linear-gradient(to top, var(--selection-color) 35%, transparent 35%);
  text-decoration: none;
}
